In [94]:
import pandas as pd
import re
import xlsxwriter

In [98]:
df = pd.read_excel(r"C:\Users\caio.santos\Desktop\Doc scrapping.xlsm")

In [100]:
def extnum_from_DF(df):
    rex1 = re.compile('R\$\s?\d+?\,?\d?\d?\d?\.?\d?\d?\sm?b?illion')
    rex2 = re.compile('\d+?\.?\d?\d?\%')
    dic = []

    for t in df['Texto']:
        lis = []    
        if rex1.search(t):
        
            for num in rex1.findall(t):
                lis.append(num)
        if rex2.search(t):
            for num in rex2.findall(t):
                lis.append(num)
    
        dic.append(lis)       

    return df.join(pd.DataFrame(dic))

In [101]:
df2 = extnum_from_DF(df)

In [104]:
df2.to_excel(r"C:\Users\caio.santos\Desktop\test.xlsx")

In [26]:
pd.read_excel('excelname.xlsx')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,"The Brazilian federal government, under the co...",R$418.2 billion,R$22.3 billion,20%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"In the year ended December 31, 2018, our capit...",R$229.0 million,R$297 million,R$167.5 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,"As of June 30, 2019, our total indebtedness (c...","R$1,297.8 million",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,"As of June 30, 2019, we had overdue trade acco...",R$106.2 million,R$85 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Failure to comply with environmental laws and ...,R$50 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NaN,Despite the high investment demand (more than ...,R$250 billion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,"According to data from ABCON (2019), the priva...",R$15 billion,R$21.8 billion,R$37 billion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,The application of the methodology suggested b...,R$6.9 billion,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,"On November 17, 2016, we entered into an inves...",R$70 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,NaN,"In October 2018, following an investment agree...",R$400 million,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN